.container{
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    background-color: black;
    border-radius: 10px;
    height:800px;
}

.header_text{
    max-width:500px;
    font-weight: bold;
    color: burlywood;
    text-align: left;
    padding-top: 30px;
}

.header_text:hover{
    color: whitesmoke;
}

.wrapper_text{
    display: flex;
    justify-content:center;
}

.grid_img{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 347px;
    height:209px;
    margin: 0 auto;
    margin-right: 680px;
    margin-top: 60px;
}

@media screen and (max-width: 800px){
    .container{
        max-width: 100%;
    }

    .header{
        height: 1300px;
    }

    .grid_img{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        /* justify-items: center; */
        padding-top: 0px;
        padding-right: 0px;
        margin: 0px;
        margin: 0 auto;
    }

    .header_text{
        text-align: center;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 550px){
    /* .container{

    } */


}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 360px){
    .header_text{
        font-size: 20px;
        max-width: 200px;
    }

    .wrapper_header-img_1, .wrapper_header-img_2, .wrapper_header-img_3, .wrapper_header-img_4{
        width: 250px;
        height: 150px;
    }

    .grid_img{
        margin: 0 auto;
        width: 250px;
        height: 150px;
    }

    .media_img{
        width: 250px;
        height: 150px;
    }
}